.col{
    position: relative;
    margin: 0;
    padding: 0 15px 30px;
    width: 100%;
}

.row{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
}

.team1{
    margin-bottom: 20px;
    float: left;
    margin-right: 30px;
    height: 350px;
    width: 450px;
}

.center{
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 300px;
}


.section-title{
    margin-left: 15px;
}