/* Hendrik's code*/

@import url('https://fonts.googleapis.com/css?family=Oswald:500');
.back{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; background:url(https://i.pinimg.com/originals/96/2d/9a/962d9ab708a5f2998ae6538810d34b84.jpg) no-repeat top center #efeff1;
    background-size:cover;
    background-attachment: fixed;
}
.thx{
    position: fixed;
    left:50%;
    transform:translateX(-50%);
    bottom: 15px;
}
nav{
    width: 100%;
    position: fixed;
    top:50px;
    text-align:center;
    z-index: 2;

}
nav a{
    font-family: 'Oswald', sans-serif;
    font-weight:450;
    text-transform:uppercase;
    text-decoration:none;
    color:white;
    margin:0 15px;
    font-size:16px;
    letter-spacing:2px;
    position:relative;
    display:inline-block;
}
nav a:before{
    content:'';
    position: absolute;
    width: 100%;
    height: 3px;
    background:#16151b;
    top:47%;
    animation:out 0.2s cubic-bezier(1, 0, 0.58, 0.97) 1 both;
}
nav a:hover:before{
    animation:in 0.2s cubic-bezier(1, 0, 0.58, 0.97) 1 both;

}
@keyframes in{
    0%{
        width: 0;
        left:0;
        right:auto;
    }
    100%{
        left:0;
        right:auto;
        width: 100%;
    }
}
@keyframes out{
    0%{
        width:100%;
        left: auto;
        right: 0;
    }
    100%{
        width: 0;
        left: auto;
        right: 0;
    }
}
@keyframes show{
    0%{
        opacity:0;
        transform:translateY(-10px);
    }
    100%{
        opacity:1;
        transform:translateY(0);
    }
}

@for $i from 1 through 5 {
    nav a:nth-child(#{$i}){
        animation:show .2s #{$i*0.1+1}s ease 1 both;
    }
}
body{
    color: white;
}
.card{
    color: black;
    z-index: 1;
    display: flex;
    flex-direction: row;
}
article{
    margin-top: 250px;
    height: 1000px;
}
.ftr{
    bottom: 15px;
    background-color: black;
    height: 30px;
    width: 100%;
    position: fixed;
    text-align:center;
    z-index: 2;
}
.logo{
    width: 250px;
    height: 150px;
    margin: 1%;
}
.mid{
    margin-left: 2.5%;
    margin-right: 2.5%;
    background-color:rgba(250,250,250,0.9);
}

/* Alejandro's code */

body{
    font-family: 'PT Sans Narrow', sans-serif;
}

.col{
    position: relative;
    margin: 0;
    padding: 0 15px 30px;
    width: 50%;
}

.row{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: gray;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: darkgray;
}

div {
    border-radius: 5px;
    padding: 20px;
}

textarea{
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;

}

iframe{
    margin-top: 8px;
}

.cntct-text{
    line-height: 1.6;
}

a:link.linkc{
    color: #808080;
}

a:visited.linkv{
    color: purple;
}


a:hover.linkh{
    color: #404040;
    text-decoration: none;
}
