.resize {
    height:240px;
}

.lpadding {
    padding-left: 65px;
}

.rpadding {
    padding-right: 65px;
}

img {
    max-width:100%;
    height:auto;
}

h5 {
    padding-left: 85px;
    padding-top: 10px;
}