@import url('https://fonts.googleapis.com/css?family=Oswald:500');
.back{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; background:url(https://i.pinimg.com/originals/96/2d/9a/962d9ab708a5f2998ae6538810d34b84.jpg) no-repeat top center #efeff1;
    background-size:cover;
    background-attachment: fixed;
}
.thx{
    position: fixed;
    left:50%;
    transform:translateX(-50%);
    bottom: 15px;
}
nav{
    width: 100%;
    position: fixed;
    top:50px;
    text-align:center;
    z-index: 2;

}
nav a{
    font-family: 'Oswald', sans-serif;
    font-weight:450;
    text-transform:uppercase;
    text-decoration:none;
    color:white;
    margin:0 15px;
    font-size:16px;
    letter-spacing:2px;
    position:relative;
    display:inline-block;
}
nav a:before{
    content:'';
    position: absolute;
    width: 100%;
    height: 3px;
    background:#16151b;
    top:47%;
    animation:out 0.2s cubic-bezier(1, 0, 0.58, 0.97) 1 both;
}
nav a:hover:before{
    animation:in 0.2s cubic-bezier(1, 0, 0.58, 0.97) 1 both;

}
@keyframes in{
    0%{
        width: 0;
        left:0;
        right:auto;
    }
    100%{
        left:0;
        right:auto;
        width: 100%;
    }
}
@keyframes out{
    0%{
        width:100%;
        left: auto;
        right: 0;
    }
    100%{
        width: 0;
        left: auto;
        right: 0;
    }
}
@keyframes show{
    0%{
        opacity:0;
        transform:translateY(-10px);
    }
    100%{
        opacity:1;
        transform:translateY(0);
    }
}

@for $i from 1 through 5 {
    nav a:nth-child(#{$i}){
        animation:show .2s #{$i*0.1+1}s ease 1 both;
    }
}
body{
    color: white;
}
.card{
    color: black;
    z-index: 1;
    display: flex;
    flex-direction: row;

}
article{
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-top: 1.5%;
    margin-bottom: 1.5%;
    height: 70%;
    overflow-y: hidden;
}

.ftr{
    bottom: 15px;
    background-color: black;
    height: 30px;
    width: 100%;
    position: fixed;
    text-align:center;
    z-index: 2;
}
.logo{
    width: 250px;
    height: 150px;
    margin: 1%;
}
.mid{
    margin-left: 2.5%;
    margin-right: 2.5%;
    background-color:rgba(250,250,250,0.9);
}

.resize {
    height:190px;
}

.lpadding {
    padding-left: 65px;
}

.rpadding {
    padding-right: 65px;
}

img {
    max-width:100%;
}

h5 {
    padding-left: 85px;
    padding-top: 10px;
}

